<%- model_class = Category -%>
<div class="page-header">
  <h3>Lista kategorii</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Nazwa</th>
      <th>Data utworzenia</th>
      <th>Czynności</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, category_path(category) %></td>
        <td><%= category.name %></td>
        <td><%= category.created_at.strftime('%d-%m-%Y') %></td>
        <td>
          <%= link_to t('.edit', :default => t("edytuj")),
                      edit_category_path(category), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("usuń")),
                      category_path(category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("Tak", :default => 'Jesteś pewny?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('Nowa', :default => t("Dodaj")),
            new_category_path,
            :class => 'btn btn-primary' %>
